.wrapper {
  padding: 10px 0;
}

.image {
  width: 400px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-image {
  float: left;
  margin-right: 10px;
}

.right-image {
  float: right;
  margin-left: 10px;
}
