.image {
  display: inline-block;
  width: 400px;
  margin: 0 10px 10px;
  border-radius: 0.25rem;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-image {
  float: left;
  margin-right: 10px;
}

.right-image {
  float: right;
  margin-left: 10px;
}

.slider {
  position: relative;
  margin-bottom: 20px;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.prevButton:hover,
.nextButton:hover {
  color: #ff0000;
}
