# Игнорируем сгенерированные файлы и папки
node_modules/
dist/
build/
out/

# Игнорируем файлы конфигурации IDE
.idea/
.vscode/

# Игнорируем временные файлы
*.tmp
*.temp

# Игнорируем файлы логов
*.log

# Игнорируем файлы окружения и секреты
.env
.env.local
.env.*.local
.env.*.test
.env.*.prod
.env.build

# Игнорируем файлы конфигурации проекта
*.config.js

# Игнорируем файлы настроек
*.settings

# Игнорируем файлы зависимостей
yarn.lock
package-lock.json

# Игнорируем временные директории
.temp/
.tmp/
.cache/
