.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px 60px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.message {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}
