.wrapper {
  margin-top: 0.75rem;
}

.table_name {
  font-size: 20px;
  color: #3a3a3a;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.table_row {
  display: flex;
}

.table_cell {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}
