.image {
  display: inline-block;
  width: 400px;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .image {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .image {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .image {
    display: block;
    width: 220px;
    float: none !important;
    margin: 0 0 0.75rem 0 !important;
  }
}

.slider {
  position: relative;
  margin-bottom: 20px;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.prevButton:hover,
.nextButton:hover {
  color: #ff0000;
}
